# Core ML/CV
ultralytics==8.2.103
opencv-python==4.10.0.84
numpy==1.26.4
Pillow==10.4.0
 
# Training utilities
torch==2.4.1
torchvision==0.19.1
 
# App / Demo
streamlit==1.38.0
 
# Data handling
pandas==2.2.2
PyYAML==6.0.2
 
# Utilities
tqdm==4.66.5
matplotlib==3.9.2
 
# Dev tools
python-dotenv==1.0.1
 